.ui.form .field label {
  color: #a5673f !important;
}

.covid-landing-background {
  background: url('https://cdn.discordapp.com/attachments/775474309598281731/777302912237568011/image1.jpg') no-repeat center center fixed;
  background-size: cover;
}

.landing-background {
  background: black url("/images/landing.jpg") no-repeat fixed center center;
  background-size: cover;
  height: 400px;
  width: inherit;
}

.ui.large.button.hollow {
  color: lightpink;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: lightpink;
}

.ui.large.button.solid {
  color: white;
  background-color: lightpink;
}
